@{
    ViewData["Title"] = "Админ-панель";
}

<h1>Добро пожаловать в Админ-панель</h1>

<ul>
    <li><a href="/Admin/List">Список товаров</a></li>
    <li><a href="/Admin/Create">Добавить товар</a></li>
</ul>
