
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/product.css"/>
</head>
<body>
    <!-- ХЕДЕР -->
    <header class="header">
        <div class="header-left">
            <img src="~/image/logo.jpg" alt="Лого" class="logo-img" />
            <span class="site-name">Toolify</span>
        </div>

        <nav class="menu">
            <a asp-controller="About" asp-action="About">О Нас</a>
            <a asp-controller="Home" asp-action="Index">Главная</a>
            <a asp-controller="Catalog" asp-action="About">Каталог</a>
        </nav>

        <div class="header-icons">
            <img src="~/image/inst.png" class="icon" />
            <img src="~/image/tg.png" class="icon" />
        </div>
    </header>

    <!-- БЛОК ПОД ХЕДЕРОМ-->
    <div class="sub-header">
        <button class="catalog-btn">
            Каталог товаров
            <img src="~/image/menu.png" />
        </button>


        <div class="search-wrapper">
            <div class="search-block">
                <input type="text" id="searchInput" placeholder="Искать на Toolify" autocomplete="off" />
                <button class="search-btn">
                    <img src="~/image/search.png" alt="Search" />
                </button>
            </div>

            <div id="searchResults" class="search-results-dropdown"></div>
        </div>

        <div class="auth-block">
            <img src="~/image/user.png" alt="user" />

            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <a asp-controller="Account" asp-action="Profile" style="line-height: 1.2;">
                    <span style="font-size: 11px; color: #888;">Личный кабинет</span><br>
                    <span style="font-weight: 700; color: #333;">
                        @(
                       !string.IsNullOrEmpty(User.FindFirst(System.Security.Claims.ClaimTypes.GivenName)?.Value)
                      ? User.FindFirst(System.Security.Claims.ClaimTypes.GivenName)?.Value : User.Identity.Name
                       ) 
                    </span>
                </a>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login">Вход и<br>регистрация</a>
            }
        </div>

        <div class="cart-block">
            <a asp-controller="Cart" asp-action="Index" class="cart-link-wrapper">

                <div class="cart-icon-wrapper">
                    <img src="~/image/cart.png" alt="cart" id="cart-target-img" />

                    <span id="cart-count" class="cart-badge" style="display: none;">0</span>
                </div>

                <span class="cart-text">Корзина</span>
            </a>
        </div>
    </div>

    <main role="main">
        @RenderBody()
    </main>

    <!-- ОСТАВЬТЕ ТОЛЬКО ЭТОТ ФУТЕР -->
    <footer class="main-footer scroll-animate">
        <div class="footer-content-top">
            <div class="footer-col contacts-col">
                <h3 class="footer-title">Контакты</h3>
                <ul class="footer-links">
                    <li><a href="tel:80337773323">8 (033) 777-33-23</a></li>
                    <li><a href="tel:80336663323">8 (033) 666-33-23</a></li>
                    <li><a href="tel:80335553323">8 (033) 555-33-23</a></li>
                </ul>
            </div>

            <div class="footer-col sections-col">
                <h3 class="footer-title">Разделы</h3>
                <ul class="footer-links">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Каталог</a></li>
                </ul>
            </div>

            <div class="footer-col spacer-col"></div>

            <div class="footer-col social-col">
                <h3 class="footer-title">Мы тут</h3>
                <div class="social-icons">
                    <img src="~/image/inst-logo.png" class="social-icon icon-instagram">
                    <img src="~/image/tg-logo.png" class="social-icon icon-telegram">
                </div>

                <div class="work-hours-text">ПН-ПТ с 8:30 до 22:00</div>

                <h4 class="email-heading">Отправить предложения</h4>
                <div class="email-links">
                    <a href="mailto:toolify@gmail.com">toolify@gmail.com</a>
                    <a href="mailto:toolify@mail.ru">toolify@mail.ru</a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="disclaimer-text">
                Предложение не является публичной офертой. <br>
                Окончательная стоимость с учетом бонусов и скидок, а также наличие товара подтверждается продавцом перед оплатой товара.
            </div>
            <div class="copyright-block">
                <div class="copyright-text">
                    &copy; 2025 Toolify <br>
                    Все права защищены. <br>
                    Popularike Meea
                </div>
                <img src="~/image/logo.png" alt="Логотип" class="footer-logo">
            </div>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>