<div class="admin-home-placeholder" data-admin-heading="Панель управления">
    <img src="~/image/logoet.png" alt="Toolify" class="admin-home-logo" />
    <p class="admin-home-text">Приступим к работе!</p>
</div>
